html {
    height: 100vh;
}
body {
    height: 100vh;
    padding: 30px;
    background-color: #212121;
    color: gainsboro;
    font-family: 'Ubuntu', Trebuchet MS, sans-serif;
}
#messageArea {
    display: none;
}
#loginArea {
    margin-top: 38vh;
    transition: 0.5s;
    text-align: center;
}
.form-group {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
textarea.login {
    resize: none;
}
.list-group-item {
    color: black;
    background-color: #368bd6;
    border-radius: 2em;
    border-color: gainsboro;
}
.well {
    background-color: rgba(50, 50, 50, 0.84);
    color: gainsboro;
   /* border-radius: 4em;*/
}
.btn-primary {
    color: #368bd6;
    background-color: rgb(57, 57, 57);
    border-color: #368bd6;
}
.btn-primary:hover{
    background-color: rgb(46, 45, 45);
    border: 1px solid #368bd6;
}
.btn-primary:active,
.btn-primary:focus{
    border-color: #368bd6;
}
.textinput {
   	background-color: rgb(86, 86, 86);
    border-radius: 10px;
    border-color: #368bd6;
    color: gainsboro;
   /* margin: 11px 0px 1px 0px;*/
}
.textinput::-webkit-input-placeholder {
    color: gainsboro !important;
}
.textinput:-moz-placeholder {
    color: gainsboro !important;
}
.textinput::-moz-placeholder {
    color: gainsboro !important;
}
.textinput:-ms-input-placeholder {
    color: gainsboro !important;
}
.input-group{
    display: inline-flex;
    min-width: 70%;
}
.send-button{
    transition: 0.3s;
    border-left: none !important;
    border-radius: 0px 10px 10px 0px !important;
    height: 100% !important;
    min-width: 11%;
    background-image: url(send.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;

}

.message:last-of-type{
    margin-bottom: 0;
}