.inner-container
  display: flex
  flex-direction: column
  width: 100%
  // margin: 40px 30px 150px 30px

.chat
  display: flex
  flex-direction: row
  padding: 0 30px 0 30px
  justify-content: space-between
  height: 75%

.header
  display: flex
  width: 100%
  flex-direction: row
  justify-content: space-between
  align-items: center
  width: 100%
  > h1
    margin: 30px
  > a
    margin: 30px

.card
  background: rgb(28, 28, 30)
  padding: 10px
  border-radius: 15px

.users-list
  list-style: none
  margin: 0
  text-align: center
  > li
    padding: 10px
    background: rgb(44, 44, 46)
    border-radius: 10px
    text-align: left
    margin-bottom: 10px
  > small
    color: rgb(94, 94, 95)
    > span
      font-size: 18px
      vertical-align: middle

.users-container
  width: 20%
  margin-right: 20px

.chat-container
  display: flex
  flex-direction: column
  width: 80%
  justify-content: space-between

.messages
  height: 90%
  margin-bottom: 10px

.input-container
  height: 10%


.logout
  color: rgb(255, 69, 58)
  opacity: 0.7
  text-decoration: none
  transition: 0.2s
  &:hover
    opacity: 1
