extend layout

block content
  .users-container
    h1.title-size socketChat
    - let userWelcome = `Welcome, ${username}`
    h1= userWelcome
  .messages-container
  .input-container
  a(href="/logout") log out

block scripts
  script(src="/lib/socket.io.js")
  script(src="/js/main.js")
