// https://github.com/abdullah-K/socketChat
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href="/img/socketChat.png")
    link(rel="stylesheet", href="/lib/normalize.css")
    link(rel="stylesheet", href="/css/styles.css")
    meta(name="description" content= description)
    title= title
    block head
  body
    .container
      block content
    footer.footer
      a(href="https://khanabdullah.com")
        img(src="/img/logo.png" alt="Abdullah's logo")
      a(href="https://github.com/abdullah-k/socketChat" target="_blank")
        p #{'</>'}

    block scripts

