/* TODO: style the "online users" div element */

html {
	height: 100vh;
}

body {
	height: 100vh;
	padding: 30px;
	background-color: #0c0c0c;
	color: gainsboro;
	font-family: 'Ubuntu', Trebuchet MS, sans-serif;
	-webkit-font-smoothing: antialiased;
	overflow: hidden;
	font-smooth: always;
	letter-spacing: 0.6px;
}

.hide {
	display: none;
}

::selection {
	background: #efefef;
	color: #313131;
}

#messageArea {
	display: none;
}

#loginArea {
	margin-top: 28vh;
	transition: 0.5s;
	text-align: center;
}

#footer {
  position: fixed;
  left: 3%;
  bottom: 3.3%;
}

#footer-content {
  width: 100%;
}

#footer-logo {
  width: 80px;
  transition: 0.3s;
}
@media (max-width: 420px) {
  #footer-logo {
    width: 45px;
  }
}
@media (max-width: 300px) {
  #footer-logo {
    width: 35px;
  }
}
#footer-logo:hover {
  transform: scale(1.1);
}


.form-group {
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	margin-bottom: 0;
}

textarea.login {
	resize: none;
}

.list-group-item {
	color: black;
	background-color: #368bd6;
	border-radius: 2em;
	border-color: gainsboro;
}

.well {
	background-color: rgba(50, 50, 50, 0.84);
	color: gainsboro;
}

.btn-primary {
	color: #368bd6;
	background-color: rgb(57, 57, 57);
	border-color: #368bd6;
}

.btn-primary:hover {
	background-color: rgb(46, 45, 45);
	border: 1px solid #368bd6;
}

.send-button:active, .send-button:hover {
	background-image: url(../send.svg);
}

.send-button:hover{
	background-color: rgb(39, 38, 38);
	border: 3px solid #b1b1b1;
}

.btn-primary:active, .btn-primary:focus {
	border-color: #368bd6;
}

.textinput {
	background-color: rgb(86, 86, 86);
	border-radius: 4px;
	border: 3px solid #b1b1b1;
	color: gainsboro;
}

.textinput::-webkit-input-placeholder {
	color: gainsboro !important;
}

.textinput:-moz-placeholder {
	color: gainsboro !important;
}

.textinput::-moz-placeholder {
	color: gainsboro !important;
}

.textinput:-ms-input-placeholder {
	color: gainsboro !important;
}

.input-group {
	display: inline-flex;
	min-width: 70%;
}

.send-button {
	transition: 0.3s;
	border-left: none !important;
	border-radius: 0px 1px 1px 0px !important;
	height: 45px;
	min-width: 13%;
	background-image: url(../send.svg);
	background-size: 25px;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	border: 3px solid #b1b1b1;
}

#empty-chat-text {
	color: #3a3a3a;
	margin: 0;
	font-size: 133%;
}

.mine {
	max-width: 52%;
	/* light-blue (with reduced opacity) */
	background: rgba(45, 145, 232, 0.78);
	float: right;
}

.not-mine {
	float: left;
	background: rgba(99, 99, 99, 0.94);
}

.message {
	border-color: transparent;
	border-radius: 25px;
	padding: 14px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	max-width: 52%;
}

.message:last-of-type {
	margin-bottom: 0;
}

.chat-line-break {
	clear: both;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
}

#intro-container {
	justify-content: center;
	display: flex;
}

#intro {
	text-align: center;
	font-weight: 700;
}

#main-container {
	align-items: center;
	margin-top: 3vw;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#login-column {
	transform: scale(1.3);
}

#login-form-width {
	min-width: 25vw;
}

#chat-card {
	max-height: 85vh;
	display: flex;
	flex-direction: column-reverse;
	padding: 19px;
	min-width: 70vw;
	max-width: 71vw;
	background: rgba(255, 255, 255, 0.68);
	border-radius: 4% 1% 1% 4%;
	position: relative;
	overflow-y: auto;
}

#username {
	border: none;
	transition: 0.4s;
	background: rgba(255, 255, 255, 0.03);
	border-bottom: 4px solid;
	border-radius: 4px;
	padding: 6px 20px;
}

#username:focus {
	background: rgb(35, 35, 35);
}

.form-control:focus {
	box-shadow: none;
}

#login-button {
	transition: 0.4s;
	color: #dcdcdc;
	padding: 3px 9px;
	border: 2px solid #dcdcdc;
	border-radius: 3px;
	background: rgb(14, 14, 14);
}

#login-button:hover {
	background: rgb(41, 41, 41);
}

#login-button:active {
	transform: scale(0.98);
	outline: none;
}

#messageForm {
	position: fixed;
	bottom: 0;
	align-self: center;
	bottom: 1.5vh;
	min-width: 100vw;
	max-width: 101vw;
}

#chat-card::-webkit-scrollbar {
	width: 7px;
}

#chat-card::-webkit-scrollbar-track {
	background: #b1b1b1;
}

#chat-card::-webkit-scrollbar-thumb {
	background: #528bbd;
	border-radius: 21px;
}

@media(max-width: 460px) {
	#chat-card {
		max-height: 75vh;
		margin-top: 4vh;
		min-width: 99vw;
		max-width: 100vw;
	}
	#messageForm {
		min-width: 95vw;
		bottom: 0;
	}
	.input-group{
		min-width: 100%;
	}
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding: 0;
}

.row {
	padding: 0;
}

#message{
	height: 45px;
}